
<ion-content>
  <ion-col size="12" size-md>
    <ion-img src="../../assets/imgs/evendeur/evendeur.jpg"></ion-img>
    <ion-item-divider></ion-item-divider>
  </ion-col>
  <ion-grid fixed>
    <ion-row>
    <ion-col col-4 class="card">
            <ion-card>
        <ion-icon name="add" color="primary" routerLink="/admins/add-produits"></ion-icon>
        <h4> Insertion </h4>
            </ion-card>
    </ion-col>
    <ion-col col-4 class="card">
            <ion-card>
        <ion-icon name="ios-keypad" color="primary" routerLink="/admins/list-produits"></ion-icon>
        <h4> Liste </h4>
            </ion-card>
    </ion-col>
    <ion-col col-4 class="card">
            <ion-card>
        <ion-icon name="logo-euro" color="primary"></ion-icon>
        <h4> Commandes </h4>
            </ion-card>
    </ion-col>
    </ion-row>

    <ion-row>
    <ion-col col-4 class="card">
            <ion-card>
        <ion-icon name="cart" color="primary"></ion-icon>
        <h4> Inventaire </h4>
            </ion-card>
    </ion-col>
    <ion-col col-4 class="card">
        <ion-card>
        <ion-icon name="pulse" color="primary"></ion-icon>
        <h4> Statistique </h4>
        </ion-card>
    </ion-col>
    <ion-col col-4 class="card">
            <ion-card>
        <ion-icon name="trending-up" color="primary"></ion-icon>
        <h4> Evolution </h4>
            </ion-card>
    </ion-col>
    </ion-row>

    <ion-row>
    <ion-col col-4 class="card">
            <ion-card>
        <ion-icon name="person" color="primary"></ion-icon>
        <h4> Profil </h4>
            </ion-card>
    </ion-col>
    <ion-col col-4 class="card">
            <ion-card>
        <ion-icon name="cog" color="primary"></ion-icon>
        <h4> Paramettre </h4>
            </ion-card>
    </ion-col>
    <ion-col col-4 class="card">
            <ion-card>
        <ion-icon name="boat" color="primary"></ion-icon>
        <h4> Autres </h4>
            </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
