<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="ios-list" slot="start" class="menu" routerLink="/admins/menu" color="success"></ion-icon>
    <ion-title>Nos Produits</ion-title>
      <ion-icon name="log-out" slot="end" class="retour" (click)="signOut()" color="danger"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let produit of ProduitsListe">
      <ion-thumbnail item-start>
          <img src = {{produit.pictures[0]}} >
      </ion-thumbnail>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <ion-label>
          <ion-text>
            <h3>{{produit.title}}</h3>
          </ion-text>
          <p>{{produit.description}}</p>
          <ion-text>
            <p>PRIX: {{produit.price}} Fcfa / COMMIS: {{produit.commissions}} Fcfa
          </ion-text>
          <p>
            <span *ngIf="produit.averageStar >=1">
              <ion-icon color="warning" name="star"></ion-icon>
            </span>
            <span *ngIf="produit.averageStar >=2">
              <ion-icon color="warning" name="star"></ion-icon>
            </span>
            <span *ngIf="produit.averageStar >=3">
              <ion-icon color="warning" name="star"></ion-icon>
            </span>
            <span *ngIf="produit.averageStar >=4">
              <ion-icon color="warning" name="star"></ion-icon>
            </span>
            <span *ngIf="produit.averageStar >=5">
              <ion-icon color="warning" name="star"></ion-icon>
            </span>
          </p>
      </ion-label>
      <ion-icon name="eye" fill="outline" slot="end" color="success" (click)="showDetails(produit)"></ion-icon>
    </ion-item>
  </ion-list>

  </ion-content>
